<div class="container clearfix">
  <div class="pull-left">
    <%= breadcrumbs(@taxon) %>
  </div>
  <div class="pull-right">
    <div id='search-bar'>
       <%= render :partial => 'spree/shared/search' %>
     </div>
  </div>
</div>
