
<div id='top-promo-message' class='align-center'>
  <span class='message'>Get <strong>FAST, FREE Shipping</strong> on all orders above $55! </span> 
  <a href='/shipping_and_returns'><span class='label label-primary'>Learn More.</span></a>
</div>

<nav id="top-nav-bar">
  <div id="top-nav" class='container'>
    <ul id='left-links'>
      <li>1-800-999-9999</li>
      <li>Help</li>
      <li>Live Help</li>
    </ul>
    <ul id='right-links'>
      <li>Log In or Register</li>
      <li>My Account</li>
    </ul>
  </div>
</nav>
<div class='clearfix'></div>
