
<div id='top-promo-message' class='align-center'>
  <span>Get <strong>FAST, FREE Shipping</strong> on all orders above $55! </span> 
  <a href='/shipping_and_returns'>Learn More.</a>
</div>
<nav id="top-nav-bar" class="columns ten">
  <ul id="nav-bar" class="inline" data-hook>
    <li id="search-bar" data-hook>
      <%= render :partial => 'spree/shared/search' %>
    </li>
  </ul>
</nav>
