
<!-- <div id='top-promo-message' class='align-center'>
  <span class='message'>Get <strong>FAST, FREE Shipping</strong> on all orders above $55! </span> 
  <a href='/shipping_and_returns'><span class='label label-primary'>Learn More.</span></a>
</div>
 -->
<nav id="top-nav-bar" class='clearfix'>
  <div id="top-nav" class='container'>
    <figure id='logo' class='pull-left'>[logo]</figure>
    <div class="pull-right">
      <div>
        <ul class='pull-right'>
          <li>Help</li>
          <li><strong>(800) 888-888</strong></li>
          <li>
              <i class='fa fa-shopping-cart'></i> 0 items
          </li>
        </ul> 
      </div>
    </div>
  </div>
</nav>