<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="#">best-selling survival &amp; emergency kits</a></li>
  <li role="presentation"><a href="#">View All Categories</a></li>
</ul>